---
const {item, displayTitle = true, displayLink=false, displayPubdate = true, displayDescription=true } = Astro.props;

if (!item) {
  throw new Error("RSS item is required in blogroll-item.astro");
}

const now:Date = new Date();
const pubDate:Date = item.pubDate ? new Date(item.pubDate) : now;

const dateFormat = new Intl.DateTimeFormat("en-FR", {
  timeStyle: "short",
  dateStyle: "short",
});

const dateString = dateFormat.format(pubDate)

---
<section class="rss-item">
    {item.blogTitle && <div class="blogroll-blog-title mt-lg strong">{item.blogTitle}</div>}
    {displayTitle && <div  class="mt-base"><a href={item.link}>{item.title}</a></div>}
    {displayLink && <div class="mt-base"><a href={item.link}>{item.link}</a> </div>}
    {displayPubdate && dateString && <div class="mt-base">{dateString}</div>}
    {displayDescription && <div class="mt-base" set:html={item.description}></div> }
</section>