---
import PostHeader from "@posts/post-header.astro";

const {hasCover, coverSrc, coverAlt, url, title, titleTag, description, descriptionTag, pubDate, tags, sectionHeaderContentClass} = Astro.props;
--- 
<li>
    <section class="post-preview">
      <PostHeader hasCover={hasCover} coverSrc={coverSrc} coverAlt={coverAlt} url={url} title={title} titleTag={titleTag} description={description} descriptionTag = {descriptionTag} pubDate={pubDate} tags={tags} sectionHeaderContentClass={sectionHeaderContentClass}/>
    </section>
</li>