---
import Baselayout from "../../layouts/baselayout.astro";
import PostList from "../../components/post-list.astro";
import Pagination from "src/components/pagination.astro";

import { CONFIG } from "@config";

import { getCollection } from "astro:content";

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection("posts");

  const publishedPosts = allPosts.filter(
    (post) => post.data.status === "published",
  );

  publishedPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  return paginate(publishedPosts, { pageSize: 6 });
}

const { page } = Astro.props;

const pagePosts = page.data;
---

<!-- Display the current page number. `Astro.params.page` can also be used! -->
<Baselayout>
  <h1>Archive Page {page.currentPage}</h1>
  <Pagination page={page} />

  <PostList posts={pagePosts} heading={''} hasCover={CONFIG.POST_THUMBNAILS} titleTag={'h2'} descriptionTag={'p'} sectionHeaderContentClass="duo-lg"/>

  <Pagination page={page} />
</Baselayout>
