---
import BaseLayout from "../layouts/baselayout.astro";

import { CONFIG } from "@config";

const gitHubUser = process.env.GITHUB_REPOSITORY_OWNER || CONFIG.EDITOR.GITHUBUSER;

const gitHubRepo = process.env.GITHUB_REPOSITORY && process.env.GITHUB_REPOSITORY.replace(gitHubUser+'/', '') || CONFIG.EDITOR.GITHUBREPO;

const postsCollection = import.meta.glob('../content/posts/*.{mdx, md}', {
  eager: true,
});

const allPosts = Object.entries(postsCollection).map(([key, val]) => ({url: val.url, data: val.frontmatter}))

const draftPosts = allPosts.filter( post => post.data.status === 'draft');

const publishedPosts = allPosts.filter( post => post.data.status === 'published');

const dataCollection = import.meta.glob('../data/*.{mdx, md}', {
  eager: true,
});

const allData = Object.entries(dataCollection).map(([key, val]) => ({url: val.url, data: val.frontmatter}))

const editUrl = (url) => `https://github.com/${gitHubUser}/${gitHubRepo}/edit/main/${url}`;

const uploadUrl = `https://github.com/${gitHubUser}/${gitHubRepo}/upload/main/src/media`;

const regex = /\/([^\/]+)\.mdx$/;

const dataFilename = (url) => url.match(regex)[1] || null;
---

<BaseLayout>
  <h1>Editor</h1>
  <ul>
    <li><a href=`https://github.com/${gitHubUser}/${gitHubRepo}/new/main/src/content/posts?filename=new-post.mdx&value=---%0Atitle%3A%20Post%20name%0Adescription%3A%20Post%20description%0ApubDate%3A%202025-01-01%20%23%20update%20to%20the%20publishing%20date%0Astatus%3A%20draft%20%23%20set%20to%20pubished%20when%20to%20publish%0Aauthor%3A%20Author%0Atags%3A%0A%20%20-%20tag%20%23%20at%20least%20one%20tag%20is%20mandatory%20%0A%20%20-%20My%20tag%0A%20%20-%20My%20other%20tag%0Acover%3A%20%23%20post%20cover%20is%20optional%0A%20%20src%3A%20obr_large.png%20%0A%20%20title%3A%20Open%20Blog%20Revolution%20Banner%0A%20%20alt%3A%20Open%20Blog%20Revolution%20Banner%0A---
`>Create new post</a></li>
<li><a href=`https://github.com/${gitHubUser}/${gitHubRepo}/upload/main/src/content/posts`>Upload new posts</a></li>
  </ul>
  {publishedPosts.length>0 &&
    <section>
      <h2>Published Posts</h2>
      <ul>
        {publishedPosts.map(post => <li><a href={editUrl(post.url)} target="_blank">{post.data.title}</a></li> )}
      </ul>
    </section>
  }

{draftPosts.length>0 &&
  <section>
    <h2>Drafts</h2>
    <ul>
      {draftPosts.map(post => <li><a href={editUrl(post.url)} target="_blank">{post.data.title}</a></li> )}
    </ul>
  </section>
}

{allData.length>0 &&
  <section>
    <h2>Data</h2>
    <ul>
      {allData.map(data => <li><a href={editUrl(data.url)} target="_blank">{dataFilename(data.url)}</a></li> )}
    </ul>
  </section>
}
  
<section>
  <h2>Config</h2>
  <ul>
    <li><a href={editUrl('blog-config.yaml')} target="_blank">Config</a></li>
  </ul>
</section>

<section>
  <h2>Media</h2>
  <ul>
    <li><a href={uploadUrl} target="_blank">Upload files</a></li>
  </ul>
</section>

</BaseLayout>
