---
import {Picture} from "astro:assets";

import { CONFIG } from "@config";

import { CONSTANTS } from "@lib/constants";

const mediaFolder = CONSTANTS.media; // This should be a setting

import { sanitizeUrl } from '@lib/sanitizeUrl';

const images = import.meta.glob('../media/*.{png,jpg,jpeg,webp,svg}', {
  eager: true,
});

const imagesArray = Object.entries(images);

const bannerSrc = CONFIG.BANNER?.src || '';
let bannerImage;
let imageSrc;

if (bannerSrc !== undefined && bannerSrc !== '') {
    bannerImage = imagesArray.find(([key, val]) => key.endsWith(`${mediaFolder}${CONFIG.BANNER?.src}`));
    console.log("bannerSrc", bannerSrc, bannerImage)
};

console.log("check", bannerImage)
console.log("typeof", typeof bannerImage);


if (bannerImage != undefined) {
    console.log("image not undefined", bannerImage)
    imageSrc = bannerImage[1].default;
} else {
    console.log("image not undefined", bannerImage)
    imageSrc = null};

console.log("imageSrc", imageSrc)
---
{
//CONFIG.BANNER?.src && (<div class="">
    imageSrc != null && (<div class="">

    <a href={import.meta.env.BASE_URL} data-astro-prefetch>
    <Picture
    loading={"lazy"}
    class="banner"
    src={imageSrc}
    formats={["avif", "webp"]}
    alt={CONFIG.BANNER.alt || ''}
    widths={[240, 540, 720, 1280]}
    sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1280px"
    />
    </a>
    </div>)}

<header class="container-lg centered pw-base mh-base flex">
    <div ><a class="ml-0" href={import.meta.env.BASE_URL} data-astro-prefetch>{CONFIG.TITLE}</a></div>
    <nav class="main-menu container-lg w-full mt-base">
        <ul>
        {CONFIG.MENU.map(link => 
            (<li><a href={sanitizeUrl(link.url)} data-astro-prefetch>{link.label}</a></li> )
        )}
        {CONFIG.CONTACT && (
            <li><a class="mr-0" href={`mailto:${CONFIG.EMAIL}`}>Contact</a></li>
        )}
        <!-- {CONFIG.MY_SWITCH && (
        <li><a class="mr-0" href={`${CONFIG.MY_LINK}`}>My Link Title</a></li>
        )} -->
        <!-- Uncomment the above to add further links to your header. 
         ename/copy the structure to add more options. Uncomment also in 'src/types/config.d.ts' -->
        </ul>
    </nav>
</header>

