---
import { CONFIG } from "@config";
---
<header class="container-lg centered pw-base">
    <nav class="flex container-lg w-full">
        <a class="ml-0" href={import.meta.env.BASE_URL}>{CONFIG.TITLE}</a>
        {CONFIG.MENU.map(link => 
            (<a href={`/${import.meta.env.BASE_URL}/${link.url.replace(/([^:]\/)\/+/g, "$1")}`}>{link.label}</a>)
        )}
        {CONFIG.CONTACT && (
                    <a class="mr-0" href={`mailto:${CONFIG.EMAIL}`}>Contact</a>
        )}
    </nav>
</header>

