---
import Tags from "./tags.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");

const { queryFilters, heading, nbPosts, hasCover = false } = Astro.props;

const tagFilters: string[] = [].concat( queryFilters?.tags || ["all"]);

const postFilters: string[] = [].concat( queryFilters?.posts || [""] );

const filteredByDraftStatus = allPosts.filter( post => post.data.status === 'published')

const filteredByTag = filteredByDraftStatus.filter( post =>

  tagFilters.includes("all") || post.data.tags.some( tag => tagFilters.includes(tag))
);



const filteredBySlug = filteredByTag.filter( post => { 
  const slug = post.slug;
  return !postFilters.includes(slug);
})

const posts = nbPosts ? filteredBySlug.slice(0, nbPosts) : filteredBySlug;

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

import { CONFIG } from "@config";

import Cover from "./cover.astro";
---
{posts.length > 0 && (
  <elt-all-posts>
    {heading && (
      <hr>
      <elt-post-head set:html={heading}></elt-post-head>
      
    )}
    {posts.map(async (post) => {
        const eltPostWrapperCLass = (hasCover && post.data.cover && post.data.cover.src && CONFIG.POST_COVER == true) ? "duo-lg mt-base" : "block mt-base";
        // Mark the map callback as async
        return (
          <elt-post>
              <h2>
                  <a href={`${import.meta.env.BASE_URL}${post.slug}`}>{post.data.title}</a>{" "}
              </h2>
              <elt-date>
                  {post.data.pubDate.toLocaleDateString("en-GB", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </elt-date>
            <elt-post-wrapper class={eltPostWrapperCLass}>
              {(hasCover && post.data.cover && post.data.cover.src && CONFIG.POST_COVER == true) && (
                <elt-post-cover class="block">
                    <Cover src={post.data.cover.src} alt={post.data.cover.alt || ''} className="mt-0 "/>
                </elt-post-cover>
              )}
              <elt-post-body>
              <elt-post-link>      
                <elt-meta>
                  <div>
                    <p class="mh-0">{post.data.description}</p>
                  </div>
                  <div>
                    <Tags allPostTags = {post.data.tags} />
                  </div>
                </elt-meta>
              </elt-post-link>
            </elt-post-body>
    
            </elt-post-wrapper>

        </elt-post>
        );
      })
    }
  </elt-all-posts>
)
}
